html{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 10%;
    border-radius: 10px;
}

h1{
    font-size: 50px;
    text-align: center;
    color: blue;
}

.carnes{
    background-color: red;
}

.menu_carnes{
    display: flex;
    list-style: none;
}