*{ padding: 0; margin: 0; box-sizing: border-box; }

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

/* You can add property: order, flex-grow, flex-basis */
.box1{
    background-color: blue;
    
}

.box2{
    background-color: greenyellow;
}
.box3{
    background-color: fuchsia;
}
.box4{
    background-color: purple;
}
.box5{
    background-color: orange;
}
.box6{
    background-color: darkred;
}